*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

li{
    font-size: 15px;
    font-weight: 300;
    color: rgb(98, 98, 98);
}

body{
    margin-left: 50px;
    margin-right: 50px;
}

h1{
    font-size: 80px;
    letter-spacing: -.035em;
}

h2{
    font-size: 50px;
    letter-spacing: -.035em;
}

h3{
    font-size: 30px;
    color: rgb(100 116 139);
    letter-spacing: -.035em;
}

h5{
    color: rgb(209 255 25);
}

.footer h2{
    color: rgb(128, 125, 125);
}

#image-logo{
    padding-top: 3px;
    height: 35px;
}

.small-announcement{
    font-size: 15px;
    font-weight: 500;
    border-radius: 20px;
    padding: 8px 15px;
    background-color: rgb(254 193 55);
    display: inline-block;
}

.button{
    background-color: black;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    display: inline-block;
}

.button.neon{
    background-color: rgb(209 255 25);
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 7px;
    padding: 15px 30px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-navbar, .right-navbar{
    padding: 15px 0px;
    display: flex;
    gap: 45px;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

.landingText{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    padding-bottom: 50px;
}

.video-dashboard video{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 100;
}

.video-dashboard{
    position: relative;
}

.off-background-color{
    position: absolute;
    height: 50%;
    width: 100vw; 
    margin-left: calc(-50vw + 50%);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(226 232 240);
    /* background-color: red; */
}

.short-description{
    padding-top: 80px;
    padding-bottom: 80px;
    line-height: 70px;
}

.footer{
    padding: 100px 50px;
    background-color: rgb(21 23 26);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}